{% extends "news_blog/base.html" %}

{% block title %}Как наглядно работает секвенирование?{% endblock %}

{% block content %}

<div class="row">
       <div class="col-sm">
<hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Base knowlages<span class="text-muted">It'll improve your mind.</span></h2>
            <p class="lead">Read this (un)helpfull guide</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/300x300/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">About scientists<span class="text-muted">See for yourself(probably in the future)</span></h2>
            <p class="lead">Only Darwin?</p>
          </div>
          <div class="col-md-5 ">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/300x300/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Cool<span class="text-muted">Kiss U</span></h2>
            <p class="lead">DEADLINE 10.3.18 </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/300x300/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


   </div>
{% endblock %}
