{% extends "news_blog/base.html" %}

{% block title %}<strong><font color="grey" face="Bookman Old Style">Как наглядно работает секвенирование?</font></strong>{% endblock %}

{% block content %}
 <style>

    body {
      background-image:"https://upload.wikimedia.org/wikipedia/commons/6/66/Rnacap_1av6.png";
      background-repeat:no-repeat;
      background-attachment:fixed;
}
.container {
 background-image:"https://upload.wikimedia.org/wikipedia/commons/6/66/Rnacap_1av6.png";
      background-repeat:no-repeat;
      background-attachment:fixed;


}
.lead
{
background-color: rgba(255, 255, 255, 0.85)
}
.row
{
background-color: rgba(255, 255, 255, 0.85)
}

  </style>


<div class="row">
       <div class="col-sm">
            <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="featurette-heading" ><font face="Bookman Old Style">0.Начало.</font><span class="text-muted"><font face="Bookman Old Style">Основные понятия</font></span></h2>
            <p class="lead"><font face="Bookman Old Style">ДНК матрица – последовательность ДНК, которую необходимо «прочесть» в ходе
секвенирования (ПЦР продукт, плазмиды, различные участки геномов, как небольшие так и полные
                геномы, транскриптомы).</font></p>

<p class="lead"><font face="Bookman Old Style">Праймер (англ. primer) — это короткий фрагмент нуклеиновой кислоты, который служит
    стартовой точкой при репликации ДНК.</font></p>

<p class="lead"><font face="Bookman Old Style">ДНК полимераза – фермент участвующий в синтезе дочерней молекулы ДНК, идущий на
    матрице родительской молекулы ДНК.</font></p>

<p class="lead"><font face="Bookman Old Style">Терминатор — нуклеотид (последовательность нуклеотидов ДНК), узнаваемый полимеразой
    как сигнал к прекращению синтеза комплементарной цепи на матрице ДНК.</font></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="http://static8.depositphotos.com/1389325/1039/v/950/depositphotos_10390797-DNA---helix-molecule-model.jpg" alt="Generic placeholder image">
          </div>
        </div>
<hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="featurette-heading"><font face="Bookman Old Style">1.Ключевые методы молекулярной биологии.</font>
                  <span class="text-muted"> <font face="Bookman Old Style">Секвенирование по Сенгеру.</font></span></h2>
            <p class="lead"><font face="Bookman Old Style">ДНК была открыта швейцарским биологом Фридрихом Мишером в 1869г. Изначально новое
вещество получило название нуклеин, а позже, когда Мишер определил, что это вещество обладает
кислотными свойствами, вещество получило название нуклеиновой кислоты. Однако долгое время
считали, что носителем генетической информации являются белки, а ДНК – всего лишь запасник
фосфора, поскольку ее строение казалось слишком однообразным.
Мало кто знает и слышал, что ключевые принципы устройства ДНК были предложены
Николаем Кольцовым еще в 1927г, который полагал, что наследственные свойства записаны в
гигантских молекулах, состоящих из двух нитей, являющихся зеркальными копиями и служащими
матрицами для дальнейшего копирования. Но, похоже, это гениальное прозрение, прозвучавшее из
далёкой России, не было услышано.
Спустя 26 лет в 1953г. Джеймс Уотсон и Френсис Крик предложили двуспиральную структуру
ДНК, скрепленную взаимодействиями пар нуклеотидов аденин-тимин и гуанин-цитозин. Сразу стал
понятен и механизм копирования ДНК. Это было одним из ключевых открытий в истории науки и
знаменовало начало ее новой области, молекулярной биологии.
Определение последовательностей нуклеотидов в ДНК (секвенирование) требовало
изощренных подходов и огромных усилий, пока в 1977г. Фредерик Сенгер с коллегами не
                предложил для этого простой и производительный метод.</font></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="http://www.vechnayamolodost.ru/upload/fullimport/img/!!!3-02/nikolenko3.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="featurette-heading"><font face="Bookman Old Style">2.Фредерих Сенгер.</font> <span class="text-muted"><font face="Bookman Old Style">Основы секвенирования.</font></span></h2>
            <p class="lead"><font face="Bookman Old Style">В настоящее время «метод терминации цепи», или «дидезокси метод», разработанный в 70-х
гг. прошлого века Фредериком Сэнгером, является самым распространенным на сегодняшний день
способом секвенирования ДНК. Дешевизна, точность, а также сравнительная простота
автоматизации делает этот метод своеобразным «золотым стандартом» среди всех существующих на
сегодняшний день способов определения последовательности ДНК. Данным способом был
расшифрован весь геном человека, и именно метод Сенгера до сих пор является рутинным
в повседневной лабораторной практике.
В своей работе Сенгер - использовал меченые атомы, что позволило ему работать с ничтожно
малым количеством экспериментального материала – порядка микрограммов. В 1977 Сенгер и его
коллеги продемонстрировали результативность своего метода, установив последовательность
оснований в цепи ДНК бактериального вируса, длина которой составила более 5000 пар оснований.
Это был первый случай такой подробной расшифровки цепи ДНК. В журнале «Nature» им был
опубликован полный список этой последовательности для нуклеотидов ДНК фага ФХ174, т.е. его
химическая формула. В результате исследований в области нуклеиновых кислот в 1980 Сенгеру и
американцу У.Гилберту была присуждена половина Нобелевской премии «за вклад в определение
последовательности оснований в нуклеиновых кислотах». Другая половина премии была
присуждена американцу П.Бергу. Таким образом, Сенгер стал единственным дважды Нобелевским
                лауреатом по химии (1958 и 1980)..</font></p>
          </div>
          <div class="col-md-5 ">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="https://www.my46.org/sites/www.my46.org/files/pictures/07My46_Gen101_DNAseq_final.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="featurette-heading"><font face="Bookman Old Style">3.Классический подход. </font><span class="text-muted"><font face="Bookman Old Style">Секвенирование ДНК по Сенгеру.</font></span></h2>
            <p class="lead"><font face="Bookman Old Style">В 1990-х метод Сенгера претерпел важные усовершенствования. Радиоактивное мечение
заменили флуоресцентным. То есть к каждому из нуклеотидов-терминаторов присоединили
флуоресцентную метку своего цвета. Это позволило совместить четыре реакции синтеза в одной
пробирке, а также автоматизировать считывание электрофореза: продукты реакции детектировали
фотодатчики на выходе из геля. Короткий фрагмент ДНК называемый праймером, инициирует
синтез ДНК в определённой точке цепи ДНК-матрицы. Фермент - ДНК-полимераза синтезирует
цепь ДНК полностью комплементарную последовательности ДНК матрицы. При этом
видоизменённые разновидности нуклеотидов, которые присутствуют в реакционной смеси
в значительно меньших количествах, чем обычные нуклеотиды, обрывают синтез, когда один из них
оказывается на конце растущей ДНК-цепи. (Все дело в том, что видоизмененные нуклеотиды
не имеют той самой химической группы, к которой должен присоединяться следующий нуклеотид
для продолжения цепи). В результате получается смесь, содержащая полный набор ново-
синтезированных фрагментов ДНК, каждый из которых начинается в одном и том же месте,
но заканчивается во всех возможных положениях вдоль цепи ДНК-матрицы.
Современные автоматизированные секвенаторы разделяют эти фрагменты, пропуская всю
смесь через тончайшие капилляры, наполненные полимером. Чем короче фрагмент, тем быстрее
он движется в геле по капилляру под действием электрического поля. Фрагменты ДНК — по сути,
ионы, движущиеся в электрическом поле от «минуса» к «плюсу». Процесс, называемый
капиллярным электрофорезом, настолько эффективен, что фрагмент, только что вышедший
из капилляра, оказывается ровно на один нуклеотид длиннее, чем предшествующий ему.
Во время электрофореза луч лазера в определенном месте геля возбуждает флуоресценцию
красителей, и детектор определяет, какой нуклеотид в настоящий момент мигрирует через гель.
Таким образом регистрируя последовательность появления нуклеотидов, прибор складывает
«буквы» (нуклеотиды) в «текст» (последовательность ДНК).
В настоящее время определение точной нуклеотидной последовательности любого сегмента
ДНК умеренной длины - вполне разрешимая задача. Уже определена последовательность
нескольких сотен генов про- и эукариот. Зная последовательность гена и генетический код, легко
определить аминокислотную последовательность кодируемого им белка. Определение
последовательности ДНК привело также к тому, что были обнаружены области, которые не
кодируют белки, но принимают участие в регуляции экспрессии генов и репликации ДНК. В 1996
году был секвенирован геном дрожжей, в 1998 г. – геном арабидопсиса, в 2000 году – геном
человека.
Весь процесс от отбора биологического материала до установления последовательности ДНК,
включая стадию подготовки пробы, я разделил на четыре основных блока (этапа). Первый блок это
– наработка матрицы интересующей нас последовательности для последующего проведения с ней
секвенсовой реакции, второй – это непосредственная постановка и проведение секвенсовой
реакции, третий, третий блок включает капиллярный электрофорез и четвертый непосредственный
анализ «сырых» данных полученных в ходе проведения секвенирования. Остановлюсь немного
поподробней на каждом из этапов.
Первый этап наработка матрицы интересующей нас последовательности для последующего
проведения с ней секвенсовой реакции является самым продолжительным во временном отношении
и включает в себя несколько стадий. Экстракцию ДНК из биологического материала. В настоящее
время на рынке есть множество наборов для решения этой задачи. В зависимости от объекта
исследований это может быть как ДНК растений, так и ДНК животных. После выделения
(получения) образца ДНК интересующего нас объекта, необходимо наработать большое количество
матрицы определенного участка (в зависимости от задачи исследования). Для этого при помощи
полимеразной цепной реакции амплифицируем («размножаем») интересующий нас участок
молекулы ДНК. Далее чистим продукт ПЦР реакции (Разгонка в агарозом геле, вырезание и чистка
от геля), после чего используем его в качестве матрицы для проведения секвенсовой реакции.
Второй этап проведение секвенсовой реакции и очистка ее продукта. В настоящее время
дидезоксинуклеотиды метят четырьмя разными флуоресцентными красителями и проводят ПЦР в
одной пробирке, о чем было сказано выше.
Третий этап электрофорез продуктов секвенсовой реакции в полиакриламидном геле. Еще раз
повторюсь, что современные приборы используют для секвенирования ДНК капиллярный

электрофорез. Данный этап полностью автоматизирован, и проходит в секвенаторе. Последним
этапом на пути к получению последовательности является этап обработки данных полученных с
                прибора.</font></p>

              <p class="lead"><font face="Bookman Old Style">Факторы влияющие на качество секвенсовой реакции.</font></p>
              <p class="lead"><font face="Bookman Old Style">• Условие проведения реакции</font></p>
              <p class="lead"><font face="Bookman Old Style">• Качество реактивов используемых для секвенсовой реакции</font></p>
              <p class="lead"><font face="Bookman Old Style">• Качество и количество наработанной матрицы НК для секвенсовой реакции</font></p>
              <p class="lead"> <font face="Bookman Old Style">• Срок хранения наработанной матрицы</font></p>
<p class="lead"><font face="Bookman Old Style"> Обзор современных методов секвенирования.
Общий принцип секвенирования нового («второго») поколения.
Первый этап процесса подготовки образца состоит из фрагментации длинных молекул ДНК
ультразвуком или каким-нибудь другим методом, не зависящим от последовательности ДНК,
до размера 50 – 400 пар нуклеотидов. Далее следует стадия, во время которой концы ДНК-
фрагментов приводятся в порядок: сначала удаляются или достраиваются выступающие концы
молекул, затем легируются адаптерные олигонуклеотиды. Полученная библиотека предварительно
амплифицируется для увеличения представленности каждого фрагмента ДНК. Последний шаг —
создание молекулярных колоний — клональная амплификация каждого фрагмента библиотеки
на твердой поверхности. Все это происходит вне секвенатора. Расшифровка последовательности
ДНК-фрагментов происходит через параллельный анализ миллионов и даже миллиардов
молекулярных ансамблей в секвенаторе. В приборе стадии подачи реактивов для секвенирования
(нуклеотидов или олигонуклеотидов с флуорофором и соответствующих ферментов) чередуются
со стадиями сканирования поверхности и регистрации получаемых изображений.
Пиросеквенирование. Различия таковы. В появившейся самой первой технологии
пиросеквенирования фирмы 454 Life Sciences над образцами-бусинками последовательно
прокачивают четыре раствора, содержащих поочередно каждый из нуклеотидов и общие
компоненты: ДНК-полимеразу и набор ферментов и субстратов для извлечения света. При
присоединении нуклеотида к цепи выделяется пирофосфат (P2O7), который превращается в АТФ с
помощью АТФ-сульфурилазы и аденозин-фосфосульфата. Затем АТФ используется люциферазой
для преобразования люциферина, давая вспышку света. Несколько одинаковых нуклеотидов подряд
дают пропорционально более яркий сигнал, что учитывается соответственно, однако если таких
нуклеотидов много, в их числе можно ошибиться.
Illumina – классика жанра. В технологии фирмы Illumina четыре нуклеотида добавляются
одновременно. Но это специальные нуклеотиды: каждый помечен флуоресцентной меткой своего
цвета. Они включаются по одному за реакционный цикл, поскольку метка блокирует включение
следующего нуклеотида. Образцы освещают лазером и фотографически фиксируют сигналы
флуоресценции. После этого флуоресцентную метку химически отщепляют, что разрешает
присоединение следующего нуклеотида – и цикл повторяется.
SOLiD – чтение посредством лигирования. Для человека, привыкшего к тому, что чтение
происходит в результате поступательного движения полимеразы в направлении 3′ конца, технология
SOLiD покажется причудливым танцем. В ней новая цепь ДНК синтезируется не добавлением
единичных нуклеотидов (полимеризацией), а добавлением коротких блоков, олигонуклеотидов с
длиной 8, комплементарных первой цепи, которые присоединяются с помощью фермента лигазы. В
реакции используется смесь всех возможных олигонуклеотидов длиной 8 (48=65536 вариантов). Из-
за малой длины их связывание с комплементарной нитью ДНК нестабильно, но если
олигонуклеотид ложится встык с предыдущим, то лигаза соединяет их. Олигонуклеотиды помечены
четырьмя разными флуоресцентными метками. Цвет метки определяется комбинацией двух первых
(5′) нуклеотидов согласно некоторой кодовой таблице (16 комбинациям соответствуют 4 цвета).
После лигирования считывают флуоресцентный сигнал, затем метку удаляют вместе с последними
тремя нуклеотидами, пользуясь заложенной там расщепляемой связью. Таким образом, синтез идет
шагами по пять нуклеотидов. Когда анализируемый участок пройден, новую цепь ДНК удаляют, и
синтез повторяют несколько раз со всеми возможными сдвигами фазы, т.е. на один, два и т.д.
нуклеотидов. Такие повторы не трудоемки, поскольку совершаются автоматически. Сопоставляя
    результаты всех прочтений, компьютер вычисляет последовательность ДНК.</font> </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="http://www.yim778.com/data/out/17/686895.png" alt="Generic placeholder image">
          </div>
        </div>

 <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="featurette-heading"><font face="Bookman Old Style">4.Проблемы.</font> <span class="text-muted"><font face="Bookman Old Style">Круг задач, которые можно решить при помощи секвенирования.</font></span></h2>
              <p class="lead"><font face="Bookman Old Style">Ресеквенирование:</font></p>
              <p class="lead"><font face="Bookman Old Style">• Идентификация бактерий и ряда патогенных грибов</font></p>
              <p class="lead"><font face="Bookman Old Style">• Выявление и подтверждение мутаций</font></p>
              <p class="lead"><font face="Bookman Old Style">• Выявление и подтверждение гетерозиготности</font></p>
              <p class="lead"><font face="Bookman Old Style">• Выявление и подтверждение SNPs</font></p>
              <p class="lead"><font face="Bookman Old Style">• Сравнительное секвенирование</font></p>
<p class="lead"><font face="Bookman Old Style">Секвенирование De novo - расшифровка абсолютно неизвестных последовательностей ДНК,
например, генома какого-нибудь нового вида.
    HLA-типирование;</font></p>
<p class="lead"><font face="Bookman Old Style">Генотипирование ВИЧ для идентификации мутаций устойчивости к лекарственным
    препаратам;</font></p>
<p class="lead"><font face="Bookman Old Style">Фрагментный анализ (AFLP, ISSR).
Помимо генетики человека технологии секвенирования уже нашли множество интересных
применений. В первую очередь хочу упомянуть о систематике организмов, которая на много
облегчилась благодаря установлению первичной последовательности молекул ДНК. Молекулярная
филогенетика оказала сильнейшее влияние на научную классификацию живых организмов. Методы
работы с макромолекулами стали доступны биологам самых различных специальностей, что
привело к лавинообразному накоплению новой информации о живых организмах. В связи с этим в
последнее время для целей установления происхождения и родства организмов все чаще и чаще
используют молекулярно-филогенетический анализ, на основании сравнения последовательности
определенных эволюционно вариабельных участков молекулы ДНК. То есть при филогенетическом
анализе тех или иных организмов на смену рассмотрения морфологических, биохимических (у
бактерий) особенностей, приходят особенности, как первичной последовательности ДНК, так и ее
вторичной структуры, если конечно морфологическая особенность не является самой целью. При
этом не обязательно сравнивать полные геномы, часто ограничиваются сравнением некоторых
характерных генов, например, 16S рибосомой РНК. Благодаря появлению молекулярно-
филогенетического анализа в биологии сделан ряд фундаментальных открытий. Примером одного
из них является открытие нового царства живой природы – архебактерий. Отличие архебактерий от
прочих бактерий было выявлено в 1977 г. группой американских учёных во главе с Карлом Вёзе при
сравнительном анализе 16s рРНК, так как обычными методами невозможно выделить какие-либо
    отличия архей от бактерий (Woese, Olsen, 1986).</font></p>
<p class="lead"><font face="Bookman Old Style">Приведу пример ряда задач, которые можно будет решить с использованием оборудования
большая часть которого имеется в нашем институте и уже работает и будет задействована в ЦКП
молекулярная биология:
На слайде представлена пара статей, одна из них этого года вторая прошлого, с
использованием филогенетический анализ, основанного на сравнении последовательностей ДНК.
В статье Филогения, скорость дивергенции и граница видов Среднеамериканских елей в
пределах рода Abies из журнала молекулярная филогенетика и эволюция. В данной статье для
реконструкции филогенетической связи среднеамериканских пихт, были использованы изменения
повторяющихся (Pt30204, Pt63718 и Pt71936) и не повторяющиеся (RbCl, rps18-rpl20 и trnL, trnF)
регионов хлоропластной ДНК. Установленные на основе этого филогенетические связи были
использованы авторами для оценки времени дивергенции представителей изучаемого рода и
диверсификации вставки в пределах данного рода, а также для проверки гипотезы предполагающей
что хвойные, как многие покрытосеменные растения, демонстрируют ускоренные темпы
видообразования в субтропиках.
Вторая статья с применением молекулярно-филогенетического анализа, под названием
Классификация внутри космополитного рода Комар, основанная на молекулярной систематике и
филогенетических исследованиях. В данной статье говориться о том, что внутренняя классификация
космополитного рода Комар, очень не проста, постоянно пересматривается и обновляется. В данном
случае очень актуальны последовательности ДНК, для построения полной филогении, но они пока
есть только для 75 видов, представляющих 11 подродов, большая часть из которых принадлежит
    подроду Комар и подроду Меланоконион.</font></p>
<p class="lead"><font face="Bookman Old Style">Круг задач, которые можно решить при помощи секвенирования.
Так же на имеющемся в нашем институте оборудовании, с использованием метода
секвенирования и фрагментного анализа, можно решать такие задачи как исследование
генетического разнообразия популяций редких реликтовых или хозяйственно ценных видов
растений и животных. Приведу пример из свежей статьи под названием Генетическое разнообразие
на меж и внутри популяционном уровне исчезающего лекарственного растения Neopicrorhiza
scrophulariiphlora в Китае, из журнала Биохимическая систематика и экология.
Авторами работы при помощи метода Фрагментного анализа ISSR, был изучен полиморфизм
82 участков, последовательности ДНК. На основании полученных данных было установлено, что
все локусы полиморфны, что указывает на значительные изменения на видовом уровне. То есть
была обнаружена высокая генетическая дифференциация (также проверяли показатели индекса Нея
и Шонана), что позволило им предположить об антропогенном воздействии на формирование
    генетической структуры вида.</font></p>
              <p class="lead"><font face="Bookman Old Style">Так же возможно проведение молекулярно-генетической паспортизации растений с целью
идентификации их генофонда и оптимизации их генетического разнообразия.
На слайде представлена статья: «Относительная эффективность маркеров ДНК (RAPD, ISSR и
AFLP) в обнаружении генетического разнообразия из горькой тыквы (Momordica charantia L.)». В
данной работе исследователи применили различные методы популяционного анализа, каждый из
которых представляет систему маркирования. RAPD – случайно амплифицированная полиморфная
ДНК, ISSR – межмикросателлитные последовательности и AFLP – полиморфизм длины
                  амплифицированных фрагментов.</font></p>
<p class="lead"><font face="Bookman Old Style">Генотипирование бактерий на основе секвенирования с целью видовой идентификации
штаммов.
На слайде приведен пример статьи: «Молекулярно-генетическое типирование штаммов
Лигеонелла пневмофила выделеных на територии РФ». В результате исследований авторами
выделенно 9 новых аллельных профелей, на основе секвенирования MIP – гена, установленна
    видавая принадлежность 3 новых штаммов Лигионелл.</font></p>
              <p class="lead"><font face="Bookman Old Style">Оборудование и реактивы, необходимые для проведения секвенирования.</font></p>
<p class="lead"><font face="Bookman Old Style">Перечень оборудования необходимое для проведения всех этапов подготовки образца
интересуемого участка молекулы ДНК к секвенированию и самого секвенирования: ДНК
секвенатор, Амплификатор, Ламинарный шкаф (ПЦР бокс), Прибор для измерения концентрации
нуклеиновых кислот (Qubit или Пикодроп), Центрифуга - 15тыс об./сек, Твердотельный термостат,
Вортекс/Шейкер, Камера для горизонтального электрофореза с источником питания,
    Трансиллюимнатор, Автоклав, Дозирующие устройства.</font></p>
              <p class="lead"><font face="Bookman Old Style">Рактивы.</font></p>
<p class="lead"><font face="Bookman Old Style">Перечень реактивов необходимых для проведения всех этапов подготовки образца
интересуемого участка молекулы ДНК к секвенированию: Реактивы для экстракция НК из
биологического материала, Компоненты реакционной смеси для проведения ПЦР-реакции:
праймеры, полимераза, буфер, нуклеотиды, деионизированая вода без нуклеаз, реагенты для
проведения горизонтального электрофореза в агарозном геле, набор для очистки продукта
амплификации из агарозного геля, реактивы для проведения секвенсовой реакции и очистки ее
продуктов.
Расходные материалы: наконечники на дозаторы, пробирки типа Эппендорф разного объема,
    септы, стрипы, и т.п.</font></p>
          </div>
          <div class="col-md-5 ">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="http://www.vechnayamolodost.ru/upload/fullimport/img/!!2-09/encode.jpg" alt="Generic placeholder image">
          </div>
        </div>







        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


   </div>
{% endblock %}
