{% extends "news_blog/base.html" %}

{% block title %}<strong><font color="grey" face="Bookman Old Style">Как наглядно работает секвенирование?</font></strong>{% endblock %}

{% block content %}
 <style>

    body {
      background-image:"https://upload.wikimedia.org/wikipedia/commons/6/66/Rnacap_1av6.png";
      background-repeat:no-repeat;
      background-attachment:fixed;
}
.container {
 background-image:"https://upload.wikimedia.org/wikipedia/commons/6/66/Rnacap_1av6.png";
      background-repeat:no-repeat;
      background-attachment:fixed;


}
.lead
{
background-color: rgba(255, 255, 255, 0.85)
}
.row
{
background-color: rgba(255, 255, 255, 0.85)
}

  </style>


<div class="row">
       <div class="col-sm">
            <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="text-muted" ><font face="Bookman Old Style">Античность</font></h2>
            <p class="lead"><font face="Bookman Old Style">Основы знаний о животных и растениях были заложены в трудах Аристотеля и его ученика Теофраста.
                Важную роль сыграли сочинения Диоскорида, составившего описания лекарственных веществ (и среди них около 600 растений), и Плиния, попытавшегося собрать
                сведения обо всех природных телах в своей «Естественной истории».

От Аристотеля (384—322 до н. э.) осталось значительное количество сочинений, посвящённых животным. В трактатах «О частях животных» и «История животных»
                Аристотель рассмотрел вопрос о том, каким образом следует заниматься познанием животных, заниматься одним животным за другим по отдельности или же сначала
                познавать общее для всех, а потом все более и более частное, и сделал выбор в пользу второго способа. В развитие этого замысла, он, с одной стороны, разработал
                принципы, которыми следует руководствоваться, когда формулируешь определения тех или иных групп животных, перечисляя их сущностные свойства. С другой стороны, о
                н сделал ряд наблюдений в поисках необходимых связей между отдельными свойствами животных. Например, о том, что все животные, у которых ноги раздвоены (парнокопытные)
                жуют жвачку. В работе «О порождении животных» Аристотель рассмотрел вопросы о размножении и развитии животных. Кроме этого, ему же принадлежит ещё ряд небольших зоологических трактатов.
                К зоологическим произведениям Аристотеля, с одной стороны, примыкают сочинения по логике, с другой — трактат «О душе». Описания строения и образа жизни различных животных в работах
                Аристотеля порой были весьма точны, но многие места впоследствии пострадали от ошибок при переписывании и переводах через несколько языков. Среди прочего,
                он первым описал так называемый «аристотелев фонарь» — обызвествленное вооружение ротового аппарата морских ежей и живорождение у акул.

Книга Теофраста (370—280-е до н. э.) «Исследования о растениях» развивала идеи Аристотеля о необходимости формулировать определения на основе сущностных свойств,
                но на этот раз — в отношении растений. </font></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="http://blog.gorekun.com/wp-content/uploads/2013/11/5404788905.jpg" alt="Generic placeholder image">
               <h2 class="text-muted" ><font size="4" face="Bookman Old Style">Аристотель</font></h2>
          </div>
        </div>
<hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="text-muted"><font face="Bookman Old Style">Средние века</font></h2>
            <p class="lead"><font face="Bookman Old Style">Упадок Римской империи сопровождался исчезновением или деградацией прежнего знания,
                хотя врачи включили многое из достижений античности в свою практику. Завоевание значительной части территорий империи арабами привело к тому,
                что труды Аристотеля и других античных авторов сохранились в переводе на арабский.

Средневековая арабская медицина, наука и философия сделали важный вклад в развитие знания о жизни в VIII—XIII веках, в период так называемого золотого века ислама,
                или исламской аграрной революции. Например, в зоологии Аль-Джахиз (781—869 гг.) уже тогда высказывал идеи об эволюции и пищевых цепях.
                Он же был ранним представителем географического детерминизма, философского учения о влиянии природных условий на национальный характер и развитие
                национальных государств. Иранский автор Абу Ханифа ад-Динавари (828—895) считается основателем арабской ботаники. В своей «Книге растений» он
                описал более 637 видов растений и обсуждал фазы роста и развития растения. В анатомии и физиологии персидский врач Ар-Рази (865—925 гг.) экспериментально
                опроверг учение Галена о «четырех жизненных соках». Прославленный врач Авиценна (980—1037 гг.) в своем труде «Канон врачебной науки», до XVII в. остававшемся
                настольной книгой европейских медиков, ввел понятие о клинических исследованиях и фармакологии. Испанский араб Ибн Зухр (1091—1161 гг.), путём вскрытия
                доказал, что чесотку вызывает подкожный паразит, а также ввел экспериментальную хирургию и медицинские исследования на животных. Во время голода в Египте
                в 1200 году Абд аль-Латиф аль-Багдади наблюдал и изучал строение человеческих скелетов.

Лишь немногие европейские учёные приобрели известность в Средние века. Среди них Хильдегарда Бингенская, Альберт Великий и Фридрих II (император Священной Римской империи)
                составили канон естественной истории для ранних европейских университетов, в которых медицина значительно уступала преподаванию философии и богословия. </font></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="http://i.imgur.com/YWlQ25Y.jpg" alt="Generic placeholder image">
              <h2 class="text-muted" ><font size="4" face="Bookman Old Style">Альберт Великий</font></h2>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="text-muted"><font face="Bookman Old Style">Возрождение</font> </h2>
            <p class="lead"><font face="Bookman Old Style">Лишь эпоха Возрождения по-настоящему возродила в Европе интерес к естественной истории и физиологии.
                В 1543 году с книги Везалия «De humani corporis fabrica» началось развитие современной анатомии, основанной на вскрытии человеческих тел.
                Везалий и его последователи постепенно заменили в медицине и физиологии средневековую схоластику эмпиризмом, полагаясь не столько на авторитет учебников
                и абстрактное мышление, сколько на личный опыт. Через лечение травами медицина также подпитывала интерес к изучению растений. Брунфельс, Фукс и другие
                авторы ранних изданий о диких растениях положили начало полномасштабному описанию растительной жизни. Средневековый жанр литературы, бестиарий, о животных
                и их повадках, с работами Конрада Геснера и других авторов XVI столетия превратился в подлинно научное направление.

Художники, такие как Альбрехт Дюрер и Леонардо да Винчи часто работали бок о бок с натуралистами и также интересовались строением тела человека и животных, давая
                детальные описания их анатомии. Традиции алхимии, поддерживаемые такими учёными, как Парацельс, вносили свой вклад в исследование природы, вдохновляя
                исследователей на опыты как с минеральными, так и с биологическими источниками фармакологических препаратов. Развитие фармакологии внесло свой вклад и
                в зарождение механицизма. </font></p>
          </div>
          <div class="col-md-5 ">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="http://mtdata.ru/u18/photo29DD/20329472264-0/original.jpg" alt="Generic placeholder image">
              <h2 class="text-muted" ><font size="4" face="Bookman Old Style">Леонардо да Винчи</font></h2>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="text-muted"><font face="Bookman Old Style">XVII - XVIII века</font></h2>
            <p class="lead"><font face="Bookman Old Style">Наиболее важные события XVII века — становление методической естественной истории,
                заложившей основы систематики животных и растений; развитие анатомии и открытие второго круга кровообращения; начало микроскопических
                исследований, открытие микроорганизмов и первое описание клеток растений, сперматозоидов и эритроцитов животных.

К XVII веку относится завершение традиции «травников». Швейцарский врач и ботаник Каспар Баугин в своем труде «Pinax Theatri Botanici» собрал все известные
                на тот момент виды растений (около 6000), уточнив синонимы. Это была последняя сводка такого размаха, в которой все ещё использовались приемы
                «народной таксономии». Группы растений в работе Боэна не имели характеристик, указывавших на их отличительные признаки. Названия растений
                формировались, по-прежнему, без строгих правил, иногда путём добавления слов-модифиаторов к названию, данному древнегреческими или древнеримскими
                авторами, иногда путём латинизации туземных названий растений. Боэн был знаком с книгой Чезальпино, но не видел смысла в применении метода, считая
                установление синонимики более важной задачей. Вместе с тем, с середины XVII века появляется все больше работ, написанных в традиции методической
                естественной истории, отталкивавшейся от труда Чезальпино.

Значительные перемены наблюдаются в области анатомии и физиологии животных и растений. Английский врач Уильям Гарвей (1578—1657), производя опыты с кровообращением
                и вскрытия животных, сделал ряд важных открытий. Он обнаружил венозные клапаны, создающие препятствие для тока крови в обратном направлении, показал
                изоляцию правого и левого желудочков сердца и открыл малый круг кровообращения (аналогичное открытие сделал незадолго до него Мигель Сервет, сожженный
                кальвинистами за свои богословские взгляды). Ян Сваммердам (1637—1680) и Марчелло Мальпиги (1628—1694) описали внутреннее строение многих беспозвоночных
                животных. Мальпиги описал сосуды растений и путём экспериментов показал наличие восходящего и нисходящего тока в разных сосудах.

              Итальянский естествоиспытатель Франческо Реди (1626—1698) экспериментально доказал невозможность самозарождения мух из гнилого мяса
                (затянув часть горшков с гнилым мясом кисеей, он смог воспрепятствовать откладке яиц мухами). Уже упоминавшийся Уильям Гарвей сделал детальное
                описание развития цыпленка и ряда других животных и высказал предположение, что все они так или иначе развиваются из яиц, хотя наблюдать яйца непосредственно он и не мог.

Наконец, в XVII веке сформировалась совершенно новая область исследований, связанная с изобретением микроскопа. Опубликованный Робертом Гуком (1635—1703)
                трактат «Микрография», посвященный описанию наблюдений при помощи микроскопа ряда объектов живой и неживой природы (срез пробки, блоха, муравей,
                кристаллы соли и др.), а также материальной культуры (острие иглы, лезвие бритвы, точка в книге и др.), вызвал широкий общественный резонанс.
                Помимо того, что он служил источником вдохновения Джонатана Свифта в некоторых фрагментах «Путешествий Гулливера», он создал моду на микроскопические
                исследования, в том числе и биологических объектов. Одним из ревностных любителей-микроскопистов стал голландский ремесленник Антони ван Левенгук (1632—1723),
                который вел наблюдения при помощи изготовленных им простых микроскопов и отсылал результаты наблюдений для публикации в Лондонское королевское общество. Левенгуку
                удалось описать и зарисовать целый ряд микроскопических существ (коловраток, инфузорий, бактерий), красные кровяные тельца, сперматозоиды человека.
            Параллельное развитие естественной истории с одной стороны и анатомии и физиологии с другой подготовило почву для возникновения биологии. В области естественной истории наиболее значимыми
                событиями стали публикация «Системы природы» Карла Линнея и «Всеобщей естественной истории» Жоржа Бюффона.

Исследования Альбрехта фон Галлера и Каспара Фридриха Вольфа значительно расширили знания в области эмбриологии животных и развития растений. В то время
                как Галлер придерживался концепции преформизма, Вольф отстаивал идеи эпигенеза. Наблюдения за ранним развитием цыпленка позволили Вольфу на примере
                образования трубчатой кишки из первоначально плоского зачатка показать, что развитие нельзя свести к чисто количественному росту без качественных преобразований. </font> </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Linnaeus_-_Regnum_Animale_%281735%29.png/1280px-Linnaeus_-_Regnum_Animale_%281735%29.png" alt="Generic placeholder image">
              <h2 class="text-muted" ><font size="4" face="Bookman Old Style">Таблица Царства животных из первого издания «Systema Naturae» Карла Линнея (1735)</font></h2>
          </div>
        </div>

 <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="text-muted"><font face="Bookman Old Style">Зарождение "биологии"</font> </h2>

<p class="lead"><font face="Bookman Old Style">Слово «биология» время от времени появлялось в работах естествоиспытателей и до XIX века,
    однако смысл его был в то время совершенно иным. Карл Линней, например, называл «биологами» авторов, составлявших жизнеописания ботаников.
    На рубеже XVIII и XIX веков сразу три автора (Бурдах, Тревиранус, Ламарк) использовали слово «биология» в современном смысле для обозначения науки
    о общих особенностях живых тел. Готфрид Рейнгольд Тревиранус даже вынес его в заглавие научного труда «Biologie; oder die Philosophie der lebenden Natur» (1802).
Набросок родословного древа в «Первой записной книжке о трансмутации видов» Чарльза Дарвина (1837)

Наиболее значимыми событиями первой половины XIX века стали становление палеонтологии и биологических основ стратиграфии, возникновение клеточной теории,
    формирование сравнительной анатомии и сравнительной эмбриологии, развитие биогеографии и широкое распространение трансформистских представлений. Центральными событиями второй половины XIX века стали публикация «Происхождения видов» Чарльза Дарвина и распространение эволюционного подхода во многих биологических дисциплинах (палеонтологии, систематике, сравнительной анатомии и сравнительной эмбриологии), становление филогенетики, развитие цитологии и микроскопической анатомии, экспериментальной физиологии и экспериментальной эмбриологии, формирование концепции специфического возбудителя инфекционных заболеваний, доказательство невозможности самозарождения жизни в современных природных условиях.

Химики того времени усматривали принципиальное различие между органическими и неорганическими веществами, в частности, в таких процессах как ферментация и
    гниение. Со времен Аристотеля они считались специфически биологическими. Однако Фридрих Вёлер и Юстус Либих, следуя методологии Лавуазье, показали, что
    органический мир уже тогда часто мог быть проанализирован физическими и химическими методами. В 1828 году Вёлер химически, то есть без применения органических веществ и
    биологических процессов, синтезировал органическое вещество мочевину, представив тем самым первое доказательство для опровержения витализма. Затем было обнаружено
    каталитическое действие бесклеточных экстрактов (ферментов) на химические реакции, благодаря чему к концу XIX в. была сформулирована современная концепция ферментов,
    хотя математическая теория ферментативной кинетики появилась только в начале XX века.

Физиологи, такие как Клод Бернар, с помощью вивисекции и другими экспериментальными методами исследовали химические и физические свойства живого тела,
    закладывая основы эндокринологии, биомеханики, учения о питании и пищеварении. Во второй половине XIX в. разнообразие и значимость экспериментальных исследований к
    ак в медицине, так и в биологии непрерывно возрастали. Главной задачей стали контролируемые изменения жизненных процессов, и эксперимент оказался в центре биологического образования. </font></p>

          </div>
          <div class="col-md-5 ">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="https://s1.1zoom.ru/b5431/637/Men_Painting_Art_Charles_Darwin_Beard_518368_1440x2560.jpg" alt="Generic placeholder image">
              <h2 class="text-muted" ><font size="4" face="Bookman Old Style">Чарльз Дарвин</font></h2>
          </div>
        </div>


 <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="text-muted"><font face="Bookman Old Style">XX век</font> </h2>
            <p class="lead"><font face="Bookman Old Style">В XX веке с переоткрытием законов Менделя начинается бурное развитие генетики. К 1920-м гг.
                не только формируется хромосомная теория наследственности, но и появляются первые работы, ставящие своей задачей интеграцию нового учения о
                наследственности и теории эволюции. После Второй мировой войны начинается развитие молекулярной биологии. Во второй половине XX века был достигнут
                значительный прогресс в изучении жизненных явлений на клеточном и молекулярном уровне.</font></p>
              <p class="lead"><font face="Bookman Old Style">Классическая генетика</font></p>
<p class="lead"><font face="Bookman Old Style">

1900 год ознаменовался «переоткрытием» законов Менделя. Де Фриз и другие исследователи независимо друг от друга пришли к пониманию значимости работ
                Менделя.Вскоре после этого цитологи пришли к выводу, что клеточными структурами, несущими генетический материал, скорее всего являются
                хромосомы. В 1910—1915 гг. Томас Хант Морган и его группа, работавшая на плодовой мушке дрозофиле, разработала «менделевскую хромосомную
                теорию наследственности». Следуя примеру Менделя, они исследовали явление сцепления генов с количественной точки зрения и постулировали,
                что в хромосомах гены расположены линейно, как бусы на нитке. Они начали создавать карты генов дрозофилы, которая стала широко используемым
                модельным организмом сначала для генетических, а затем и молекулярно-биологических исследований.

Де Фриз пытался соединить новую генетическую теорию с теорией эволюции. Он первым предложил термин мутация для изменений генов. В 1920—1930-х годах появилась
                популяционная генетика. В работах Фишера, Холдейна и других авторов теория эволюции, в конце концов, объединилась с классической генетикой в синтетической теории эволюции.

Во второй половине XX века идеи популяционной генетики оказали значительное влияние на социобиологию и эволюционную психологию. В 1960-х годах для объяснения
                альтруизма и его роли в эволюции через отбор потомков, появилась математическая теория игр. Дальнейшей разработке подверглась и синтетическая
                теория эволюции, в которой появилось понятие о дрейфе генов и других процессах, важных для появления высокоразвитых организмов, которая объясняла
                причины быстрых эволюционных изменений в исторически короткое время, ранее составлявших базу для «теории катастроф». В 1980 году Луис Альварес предложил
    метеоритную гипотезу вымирания динозавров. Тогда же в начале 1980-х годов были статистически исследованы и другие явления массового вымирания в истории земной жизни.</font></p>
              <p class="lead"><font face="Bookman Old Style">Биохимия</font></p>

<p class="lead"><font face="Bookman Old Style">К концу XIX в. были открыты основные пути метаболизма лекарств и ядов, белка, жирных кислот и синтеза мочевины. В начале XX в. началось исследование витаминов.
                Улучшение техники лабораторных работ, в частности, изобретение хроматографии и электрофореза стимулировало развитие физиологической химии, и биохимия
                постепенно отделилась от медицины в самостоятельную дисциплину. В 1920-х — 1930-х годах Ханс Кребс, Карл и Герти Кори начали описание основных путей метаболизма
                углеводов: цикла трикарбоновых кислот, гликолиза, глюконеогенеза. Началось изучение синтеза стероидов и порфиринов. Между 1930-ми и 1950-ми годами Фриц Липман и
                другие авторы описали роль аденозинтрифосфата как универсального переносчика биохимической энергии в клетке, а также митохондрий как её главного источника энергии.
    Эти традиционно биохимические области исследования продолжают развиваться до сих пор.</font></p>
              <p class="lead"><font face="Bookman Old Style">Происхождение молекулярной биологии</font></p>
<p class="lead"><font face="Bookman Old Style">Уэнделл Мередит Стэнли в 1935 году опубликовал эту фотографию кристаллов вируса табачной мозаики. Они представляют собой чистые нуклеопротеиды, что убедило многих биологов в том,
                что наследственность должна иметь физико-химическую природу

В связи с появлением классической генетики многие биологи, в том числе, работающие в области физико-химической биологии, пытались установить природу гена. Для этой цели Фонд
                Рокфеллера учредил несколько грантов, а чтобы обозначить задачу, глава научного отдела Фонда Уоррен Уивер ещё в 1938 году использовал термин молекулярная биология.
                Он и считается автором наименования этой области биологии.

Как и биохимия, смежные дисциплины бактериология и вирусология (позже объединенные в виде микробиологии) в то время бурно развивались на стыке медицины и других естественных наук.
                После выделения бактериофага начались исследования вирусов бактерий и их хозяев. Это создало базу для применения стандартизированных методов работы с генетически
                однородными микроорганизмами, которые давали хорошо воспроизводимые результаты, и позволило заложить основы молекулярной генетики.

Кроме микроорганизмов объектами генетических экспериментов стали мушка дрозофила, кукуруза и хлебная плесень, нейроспора густая, что позволило применять также методы биохимии,
                а появление электронного микроскопа и высокоскоростных центрифуг позволило пересмотреть даже само понятие «жизнь». Понятие о наследственности у вирусов,
                воспроизведение внеядерных нуклеопротеиновых структур усложнили ранее принятую теорию менделевских хромосом.

В 1941 году Бидл и Тейтем сформулировали свою гипотезу «один ген — один фермент». В 1943 году Освальд Эйвери, продолжая работу, начатую Фредериком Гриффитом, показал,
                что генетическим материалом в хромосомах является не белок, как думали ранее, а ДНК. В 1952 году этот результат был подтвержден в эксперименте Херши — Чейз,
                и это был лишь один из многих важных результатов, достигнутых так называемой фаговой группой Дельбрюка. Наконец, в 1953 году Уотсон и Крик, основываясь на работе
                Мориса Уилкинса и Розалинды Франклин, предложили свою знаменитую структуру ДНК в виде двойной спирали. В своей статье «Molecular structure of Nucleic Acids»
                («Молекулярная структура нуклеиновых кислот») они заявили: «От нашего внимания не укрылось то, что специфическое спаривание, которое мы постулировали,
                одновременно позволяет сделать предположение о механизме копирования генетического материала». Когда через несколько лет механизм полуконсервативной
                репликации был подтвержден экспериментально, большинству биологов стало ясно, что последовательность оснований в нуклеиновой кислоте каким-то образом определяет
    и последовательность аминокислотных остатков в структуре белка. Но идею о наличии генетического кода сформулировал не биолог, а физик Георгий Гамов.</font></p>
              <p class="lead"><font face="Bookman Old Style">Развитие биохимии и молекулярной биологии во второй половине XX века</font></p>

<p class="lead"><font face="Bookman Old Style">Расшифровка генетического кода заняла несколько лет. Эта работа была выполнена главным образом Ниренбергом и Кораной и закончена к концу 1960-х годов. Тогда же Перуц и
                Кендрю из Кембриджа впервые применили рентгеноструктурный анализ в сочетании с новыми возможностями вычислительной техники для исследования пространственной
                структуры белков. Жакоб и Моно из Института Пастера исследовали строение lac оперона и открыли первый механизм регуляции генов. К середине 1960-х годов основы
                молекулярной организации метаболизма и наследственности были установлены, хотя детальное описание всех механизмов только начиналось. Методы молекулярной
                биологии быстро распространялись в другие дисциплины, расширяя возможности исследований на молекулярном уровне. Особенно это было важно для генетики, иммунологии,
                эмбриологии и нейробиологии, а идеи о наличии «генетической программы» (этот термин был предложен Жакобом и Моно по аналогии с компьютерной программой) проникли и во
                все остальные биологические дисциплины.
Полученные генноинженерными методами линии бактерии Escherichia coli — важнейший инструмент современной биотехнологии и многих других областей биологии

В иммунологии в связи с достижениями молекулярной биологии появилась теория клональной селекции, которую развивали Ерне и Бёрнет. В биотехнологии появление генной инженерии,
                начиная с 1970-х годов, привело к появлению широкого спектра продуцентов новых продуктов, в частности, лекарственных препаратов, таких как треонин и инсулин.

Генетическая инженерия основана прежде всего на применении техники рекомбинантных ДНК, то есть таких молекул ДНК, которые искусственно перестроены в лаборатории путём рекомбинации
                их отдельных частей (генов и их фрагментов). Для разрезания ДНК применяют специальные ферменты рестриктазы, которые были открыты в конце 1960-х годов. Сшивание кусков
                ДНК катализирует другой фермент, лигаза. Так можно получить и ввести в бактерии ДНК, содержащую, например, ген резистентности к определённому антибиотику. Если бактерия,
                получив рекомбинантную ДНК, переживет трансформацию, она начнет размножаться на среде, содержащей данный антибиотик, и это будет обнаружено по появлению колоний трансгенного организма.

Принимая во внимание не только новые возможности, но и потенциальную угрозу от применения таких технологий (в частности, от манипуляций с микроорганизмами, способными переносить
                гены вирусного рака) научное сообщество ввело временный мораторий на научно-исследовательские работы с рекомбинантными ДНК до тех пор, пока в 1975 году на специальной
                конференции не были выработаны рекомендации по технике безопасности при такого рода работах. После этого наступил период бурного развития новых технологий.
Штатив амплификатора — устройства, позволяющего проводить полимеразную цепную реакцию одновременно в 48 препаратах

К концу 1970-х годов появились методы определения первичной структуры ДНК, химического синтеза коротких фрагментов ДНК (олигонуклеотидов), введения ДНК в клетки человека и животных
                (трансфекция). Чтобы работать с генами человека и животных, необходимо было разобраться с различиями в устройстве генов прокариот и эукариот. Эта задача была в
                целом решена благодаря открытию сплайсинга.

К 1980-м годам определение первичных последовательностей белков и нуклеиновых кислот позволило использовать их как признаки для систематики и особенно кладистики; так появилась
                молекулярная филогенетика. К 1990 г на основании сравнительного анализа нуклеотидных последовательностей 16S рРНК Карл Вёзе предложил новую систему живых существ:
                царство монер было разделено на два домена эубактерий и архей, а остальные четыре царства (протист, грибов, растений и животных) — объединены в один домен эукариот.

Появление в 1980-х годах техники ПЦР значительно упростило лабораторную работу с ДНК и открыло возможность не только для открытия новых ранее неизвестных генов, но и
                для определения всей нуклеотидной последовательности целых геномов, то есть для исчерпывающего описания структуры всех генов организма.
                В 1990-х годах эта задача была в целом решена в ходе выполнения международного проекта «Геном человека». </font></p>
          </div>
          <div class="col-md-5 ">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/E_coli_at_10000x%2C_original.jpg/1024px-E_coli_at_10000x%2C_original.jpg" alt="Generic placeholder image">
              <h2 class="text-muted" ><font size="4" face="Bookman Old Style">Полученные генноинженерными методами линии бактерии Escherichia coli — важнейший инструмент современной биотехнологии и многих других областей биологии</font></h2>
          </div>
        </div>













        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


   </div>
{% endblock %}
