{% extends "news_blog/base.html" %}

{% block title %}<strong><font color="grey" face="Bookman Old Style">Интересное</font></strong>{{article.id}}{% endblock %}

{% block content %}


<style>

.jumbotron{

background-color: DimGrey
}


</style>



<div class="jumbotron p-3 p-md-5 text-white rounded bg-DimGrey">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic"><font face="Bookman Old Style">Title of a longer featured blog post</font></h1>
            <p class="lead my-3"><font face="Bookman Old Style">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</font></p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold"><font face="Bookman Old Style">Continue reading...</font></a></p>
        </div>
      </div>

           <div class="col-lg-4">
            <img class="rounded-circle" src="https://rydm.pro/images/002-screen.png" alt="Generic placeholder image" width="250" height="250">
               <h2><strong><font color="grey" face="Bookman Old Style">Проблемы</font></strong></h2>
            <p><font color="grey" face="Bookman Old Style">С возрастанием количества данных уже давно стало невозможным вручную анализировать последовательности.
                В наши дни для поиска по геномам тысяч организмов, состоящих из миллиардов пар нуклеотидов используются компьютерные программы. Программы могут
                однозначносопоставить ("выравнять") похожие последовательности ДНК в геномах разных видов; часто такие последовательности несут сходные функции,
                а различия возникают в результате мелкихмутаций, таких какзамены отдельных нуклеотидов,вставки нуклеотидов, и их "выпадения" (делеции). </font></p>
               <p><a class="btn btn-secondary" href="#" role="button"><font face="Bookman Old Style">Читать дальше &raquo;</font></a></p>
               </div>


{% endblock %}
