{% extends "news_blog/base.html" %}

{% block title %}<strong><font color="grey" face="Bookman Old Style">Хронология</font></strong>{{article.id}}{% endblock %}

{% block content %}


<style>

.jumbotron{

background-color: #C0C0C0
}


</style>



<div class="jumbotron p-3 p-md-5 text-white rounded bg-DimGrey">
        <div class="col-md-6 px-0">
            <h1 class="display-6 "><font face="Bookman Old Style">История развтия биологии</font></h1>
            <p class="lead my-0"><font  size="3" face="Bookman Old Style">История биологии исследует развитие биологии — науки, изучающей фундаментальные (
                наиболее общие) свойства и законы эволюционного развития живых существ. Предметом истории биологии являются выявление и обобщённый
                анализ основных событий и тенденций в развитии биологического знания. </font></p>
            <p class="lead mb-0"><a href={% url 'p22' %} class="text-white font-weight-bold"><font face="Bookman Old Style">Читать дальше >></font></a></p>
        </div>
      </div>
<div class="jumbotron p-3 p-md-5 text-white rounded bg-DimGrey">
        <div class="col-md-6 px-0">
            <h1 class="display-6 "><font face="Bookman Old Style">История развития информатики</font></h1>
            <p class="lead my-0"><font size="3" face="Bookman Old Style">Информатика как наука стала развиваться с середины прошлого столетия, что связано с появлением
                ЭВМ и начавшейся компьютерной революцией. Появление вычислительных машин в 1950-е гг. создало для информатики необходимую аппаратную поддержку,
                т.е. благоприятную среду для ее развития как науки. </font></p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold"><font face="Bookman Old Style">Читать дальше >></font></a></p>
        </div>
      </div>

<div class="jumbotron p-3 p-md-5 text-white rounded bg-DimGrey">
        <div class="col-md-6 px-0">
            <h1 class="display-6 "><font face="Bookman Old Style">История развития биоинформатики</font></h1>
            <p class="lead my-0"><font size="3" face="Bookman Old Style">Во второй половине 20-го века,
наука информатика начала широко внедряться и сотрудничать (и продолжает это и в наши дни) с другими науками: физико-математическими,
техническими, гуманитарными и, конечно, естественными. Сейчас трудно найти такую область науки,которая бы обходилась без методов информатики.
</font></p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold"><font face="Bookman Old Style">Читать дальше >></font></a></p>
        </div>
      </div>



{% endblock %}
