{% extends "news_blog/base.html" %}

{% block title %}<strong><font color="grey" face="Bookman Old Style">Профессия</font></strong>{% endblock %}

{% block content %}
<style>

.col-lg-4{

border-radius: 20px;
}


</style>
<div class="row" id="idk">


            <div class="col-lg-4" >
            <img class="rounded-circle" src="https://avatars1.githubusercontent.com/u/575603?s=400&amp;v=4" alt="Generic placeholder image" width="250" height="250">
               <h2><strong><font color="grey" face="Bookman Old Style">Обучение</font></strong></h2>
            <p><font color="grey" face="Bookman Old Style">Где учат зарабатывать деньги на совмещении двух наук?Каждая программа длится один год и осуществляется в формате лекций, семинаров,
                работы над научными проектами. Наиболее сильные студенты имеют возможность продолжить учебу в Институте дополнительные полгода, чтобы прослушать продвинутые курсы и продолжить
                заниматься научной работой. Занятия проходят по субботам и в вечернее время будних дней (один-два вечера). Часть занятий проводится в лабораториях-партнерах. Летом предусмотрены
                стажировки с возможностью последующего трудоустройства.

Основные программы ориентированы на студентов средних и старших курсов математических, технических и биологических специальностей, интересующихся биоинформатикой.

При успешном окончании Института выдается сертификат о повышении квалификации. </font></p>
               <p><a class="btn btn-secondary" href="#" role="button"><font face="Bookman Old Style">Читать дальше &raquo;</font></a></p>
               </div>
             <div class="col-lg-4">
            <img class="rounded-circle" src="http://clipground.com/images/downloadable-clipart-for-mac-9.png" alt="Generic placeholder image" width="250" height="250">
               <h2><strong><font color="grey" face="Bookman Old Style">Работа</font></strong></h2>
            <p><font color="grey" face="Bookman Old Style">С помощью чего биоинформатики осуществляют свои изыскания?Для визуализации структуры молекул в 3D есть много десктоп- и веб-приложений.
                Представлять, как молекула выглядит в пространстве, крайне важно, например, для разработки лекарств. Предположим, нам нужно синтезировать лекарство, обладающее направленным действием.
                Сначала нам потребуется спроектировать молекулу этого лекарства и убедиться, что она будет взаимодействовать с нужными белками именно так, как нужно.
                В жизни молекулы трехмерные, поэтому анализируют их тоже в виде трехмерных структур.

Для 3D-просмотра молекул ЕРАМ сделал онлайн-инструмент, который изначально работал только в окне браузера. Потом на основании этого инструмента разработали версию,
                которая позволяет визуализировать молекулы в очках виртуальной реальности HTC Vive. К очкам прилагаются контроллеры, которыми молекулу можно поворачивать, перемещать,
                подставлять к другой молекуле, поворачивать отдельные части молекулы. Делать всё это в 3D куда удобнее, чем на плоском мониторе. Эту часть проекта биоинформатики ЕРАМ делали
                совместно с подразделением Virtual Reality, Augmented Reality and Game Experience Delivery.
            </font></p>
                 <p><a class="btn btn-secondary" href="#" role="button"><font face="Bookman Old Style">Читать дальше &raquo;</font></a></p>
               </div>
            <div class="col-lg-4">
            <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Star_of_life2.svg/1024px-Star_of_life2.svg.png" alt="Generic placeholder image" width="250" height="250">
               <h2><strong><font color="grey" face="Bookman Old Style">Нобелевская премия</font></strong></h2>
            <p><font color="grey" face="Bookman Old Style">За что же дают заветную премию в последние годы? Послужной список обладателей очень интересен в своем разноообразии.Лауреатов премии по физиологии или медицине обычно
                объявляют в начале октября. Церемония вручения премии проходит в Стокгольме 10 декабря, в день смерти Альфреда Нобеля.
                Как и лауреатам других Нобелевских премий, лауреатам премии по физиологии или медицине вручают диплом и медаль, а также денежное вознаграждение.
                Медаль для лауреатов в области физиологии или медицины отличается реверсом — на нём изображена женщина с раскрытой книгой на коленях, олицетворяющая гений медицины,
                которая собирает воду, льющуюся из камня, чтобы утолить жажду больной девочки, стоящей рядом с ней. </font></p>
                <p><a class="btn btn-secondary" href="#" role="button"><font face="Bookman Old Style">Читать дальше &raquo;</font></a></p>
               </div>






   </div>


{% endblock %}

